@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");

* {
  font-family: "Open Sans", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* For modern browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Dark color for the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background: #b7b7b7; /* Dark color for the scrollbar track */
  border-radius: 4px; /* Rounded corners for the scrollbar track */
  margin: 2px; /* Optional: Add space between the track and the content */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow effect for the track */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #333 #000000; /* Thumb color and track color */
}
